<div class="row">
     <div class="col-sm-4 offset-md-4">
         <div class="card card-body">
             <form (submit)="submitCuenta()">
                 <div class="form-group">
                    <input type="text" name="NOMBRECOMPLETO" [(ngModel)]="cuenta.NOMBRECOMPLETO" class="form-control" placeholder="Nombre Completo" autofocus>
                 </div>
                 <div class="form-group">
                     <input type="text" name="DIRECCION" [(ngModel)]="cuenta.DIRECCION" class = "form-control" placeholder="Direccion" >

                 </div>
                 <div class="form-group">
                    <input type="text" name="NUMERO" [(ngModel)]="cuenta.NUMERO" class = "form-control" placeholder="Numero" >

                </div>
                <div class="form-group">
                    <input type="text" name="FECHAGENERACION" [(ngModel)]="cuenta.FECHAGENERACION" class = "form-control" placeholder="Fecha Generacion" >

                </div>
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>

             </form>

         </div>
     </div>

</div>>